<div>
  <mat-form-field>
    <mat-select  placeholder="Nationality" [(value)]="selectedNationality">
      <mat-option *ngFor="let nationality of nationalities; let i = index" [value]="i">{{nationality}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Age"  [(value)]="selectedAgeGroup">
      <mat-option *ngFor="let age of ageGroup; let i = index" [value]="i">{{age}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Group"  [(value)]="selectedGroup">
      <mat-option value="Group 1">Group 1</mat-option>
      <mat-option value="Group 2">Group 2</mat-option>
      <mat-option value="Group 3">Group 3</mat-option>
    </mat-select>
  </mat-form-field>
<br>
  <mat-form-field >
    <input [(ngModel)]="title" matInput placeholder="Title">
  </mat-form-field>
  <br>

  <mat-form-field style="width: 50%">
    <textarea rows="10" [(ngModel)]="body" matInput placeholder="Message"></textarea>
  </mat-form-field>
  <br>
  <button (click)="sendNotification()" mat-button color="primary">Send Notification!</button>
</div>

