<!-- <button type="button" class="btn btn-block" (click)="signInWithEmail()">
  <i class="fa fa-twitter" aria-hidden="true"></i>
     Login with Twitter
</button>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>
</form> -->

<div class="labyek" [ngClass]="{'full-view': fullView}">
  <app-background [hide]="fullView"></app-background>
  <div class="container">
    <app-logo></app-logo>
    <app-nav *ngIf="fullView"></app-nav>
    <div class="search" *ngIf="fullView">
      <i class="icons-navigation-drawer-1"></i>
    </div>
    <div class="view">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

