.labyek{
  overflow: hidden;
  .search{
    font-size: 20px;
    position: fixed;
    left: 24px;
    top: 38px;
  }
  .container{
    position: fixed;
    width: 40%;
    transition: all 1s;
    left: 60%;
    overflow: hidden;
  }
  &.full-view {
    .container{
      width: 100%;
      left: 0;
    }
  }
}
