@import './src/assets/style/colors.scss';
.nav{
  position: fixed;
  top: 19px;
  right: 24px;
  width: 400px;
  ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    li{
      &.active{
        color: $bluish;
      }
      &:focus{
        outline: 0;
      }
    }
  }
}
